doctype html
html(lang="en")
  head
    title URL Shortener
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")

  body

    .navbar.navbar-dark.bg-dark
      a(href='/', class='navbar-brand ') URL Shortener

    
    block content
