extends ../base.pug

block content
    .container.mt-5
        .row
            .col-6
                h3 #{action} shorturl
                form(method="POST")
                    .form-group
                    label(for="originalUrl") Enter a long URL
                    input.form-control(type="text", name="originalUrl", id="originalUrl", value=shorturl.originalUrl)
                    .form-group
                    button.btn.btn-success(type="submit") Short URL!