extends ../base.pug

block content
    .container.mt-5
        .row
            .col-12
                h3 Short URL
                p original url: 
                    a(href=`${shorturl.originalUrl}`, target="_blank")
                        span #{shorturl.originalUrl}
                p new url: 
                    a(href=`https://bearloop.net/${shorturl.urlCode}`, target="_blank")
                        span https://bearloop.net/#{shorturl.urlCode}